{% extends "base.html" %} {% block content %}

<div class="float-container">
  <div class="float-child" style="margin-right: 3px">
    <h2 class="a">Uploaded Image</h2>
    <div class="green" style="text-align: center; margin-right: 3px">
      <img
        src="{{ url_for('upload_img', filename=file_name) }}"
        class="img-fluid"
      />
    </div>
  </div>

  <div class="float-child" style="margin-left: 3px">
    <h2 class="a">Cartoonized Image</h2>
    <div class="blue" style="text-align: center; margin-left: 3px">
      <img
        src="{{ url_for('cartoon_img', filename=cartoon_file) }}"
        class="img-fluid"
      />
    </div>
  </div>

</div>
<div class="text-center" style="margin-top: 10px">
  <button type="button" id="downloadBtn" class="btn btn-outline-success">
    Download Image
  </button>
  <a
  id="downloadLink"
    href="{{ url_for('cartoon_img', filename=cartoon_file) }}"
    download
    class="invisible"
    style="text-decoration: none; color: black;"
  >
  download
  </a>
</div>
<br />
<br />
<div style="text-align: center">Made with ❤ by Aryan Bhan</div>

{% endblock %}
